@use "variables" as *;

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin card-shadow {
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
}
